<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <!--<add name="PostgreSQLSandbox" connectionString="Server=127.0.0.1;Port=5432;Database=Sandbox;User Id=SandboxLogin;Password=SandboxLogin;" providerName="PostgreSQL OLE DB Provider"/>-->
    <add name="PodcastDownloader" connectionString="Server=LAPTOP-C4FRN3EB;Database=PodcastDownloader;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>